<div class="panel panel-primary">
    <div class="panel-heading">SÁCH THEO CHỦ ĐỀ</div>
    <div class="list-group">
        <a href="#" class="list-group-item">Ngoại ngữ</a>
        <a href="#" class="list-group-item">Công nghệ thông tin</a>
        <a href="#" class="list-group-item">Khoa học</a>
        <a href="#" class="list-group-item">Văn học</a>
        <a href="#" class="list-group-item">Nông nghiệp</a>
        <a href="#" class="list-group-item">Kinh tế</a>
        <a href="#" class="list-group-item">Nghệ thuật</a>
        <a href="#" class="list-group-item">Tâm lý - Giáo dục</a>
    </div>
</div>

