<div class="panel panel-info">
    <div class="panel-heading">SÁCH THEO NHÀ XUẤT BẢN</div>
    <div class="list-group">
        <a href="#" class="list-group-item">NXB Trẻ</a>
        <a href="#" class="list-group-item">Kim Đồng</a>
        <a href="#" class="list-group-item">Văn hóa</a>
        <a href="#" class="list-group-item">Thống kê</a>
    </div>
</div>

