<h3 class="text-center text-primary">SÁCH BÁN NHIỀU</h3>
<div class="row">
    @for (int i = 0; i < 6; i++)
    {
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <img src="~/Content/images/sach.png" style="width:60px" class="media-object" />
                </div>
                <div class="media-body">
                    <h5 class="media-heading">Tên sản phẩm</h5>
                    <p>Mô tả tóm tắt sách bán nhiều...</p>
                </div>
            </div>
        </div>
    }
</div>

