@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center text-primary">SÁCH MỚI</h3>
<div class="row">
    <!-- Sách mẫu -->
    @for (int i = 0; i < 6; i++)
    {
        <div class="col-md-4 text-center">
            <img src="~/Content/images/sach.png" class="img-thumbnail" style="height: 220px;" />
            <h5>Sản phẩm</h5>
            <p>Mô tả tóm tắt sản phẩm</p>
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    }
</div>
<br />
<nav class="text-center">
    <ul class="pagination">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">»</a></li>
    </ul>
</nav>
